* {
    margin: 0;
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  .dashboard-container {
    display: flex;
    height: 100vh;
    /* overflow: hidden; */
  }
.sidebar {
    background-color: #f1f1f4;
    width: 100%;
    /* flex: 1 0 10%; */
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #afafaf;
  }
  .top{
    display: flex ;
    flex-direction: column;
    gap: 50px;
  }
  .logo{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    align-items: center;
    display: none;
  }
  .logo p{
    color: #F46036;
    font-weight: bolder;
    font-size: 10px;
    text-transform: uppercase;

  }

  .logout-button{
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .logout {
    color: #F46036;
  }


  li {
    list-style: none;
    font-size: 14px;
    padding: 10px;
  }
  .navigation-links{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
  }
  .admin-functions{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .selected{
    background: #FFF3EF;
    display: block;
    text-decoration: none;
    color:#F46036
  }
  .selected path{
    fill: #F46036;
  }
  .route-link{
    text-decoration: none;
    color: black;
  }

  @media (max-width:1000px){
    .sidebar{
      /* width: 20%; */
      padding: 15px;
    }
    .dash-desktop-logo{
      display: none;
    }
    .logo{
      display: block;
      align-self: center;
    }
    .admin-functions p{
      display: none;
    }
    .logout-button p{
      display: none;
    }
  }

  img[src="notification.png"] {
    width: 24px;
    height: 24px;
    position: center;
  }

  .notification-button {
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 35px;
  }
