*{
    margin: 0;
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    
}
.dashboard-container{
    display: flex;
    height: 100vh;
    overflow: hidden;
    
}
.sidebar{
    background-color: #F1F1F4;
    flex: 1 0 10%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #AFAFAF;
}
.dash-logo{
    margin-bottom: 40px;
}
main{
    
    background-color: #F9F9F9;
    flex: 1 0 90%;
    overflow-y: auto;
}

li{
    list-style: none;
    font-size: 14px;
    padding: 15px;
}