<div class="dashboard-container">
  <aside class="sidebar">
    <div class="top">
      <img class="dash-logo" src="dash-logo.png" alt="" />
      <ul class="admin-functions">
        <li><img src="element-1.png" alt="" class="admin-img" />Overview</li>
        <li>
          <img
            src="dashboard-images/user-tick.png"
            alt=""
            class="admin-img"
          />Team Leads
        </li>
        <li>
          <img src="dashboard-images/users.png" alt="" class="admin-img" />Team
          Members
        </li>
      </ul>
    </div>
    <div class="logout-button">
      <p class="logout">Logout</p>
    </div>
  </aside>
  <main>
    <aside class="header">
      <h4>Overview</h4>
      <div class="add-user-profile">
        <button (click)="toggleMenu()" class="add-user-btn" type="button" id="btn btn-primary">
          <span class="add-user-text">Add User</span>
          <img
            src="dashboard-images/lets-icons_user-add-alt-fill.png"
            alt="add-user-icon"
          />

        </button>
        <div class="profile-image-container">
          <img
            src="dashboard-images/Headshot 2.jpg"
            alt="profile-image"
            class="profile-image"
          />
        </div>
        
@if (isMenuOpen) {
    <div class="menu" >
  <ul>
    <li (click)="openModal()">Add Team Lead</li>
    <li (click)="openModal()">Add Team Member</li>
  </ul>
</div>

}
      </div>
    </aside>
    <div class="dashboard-content">
      <div class="dashboard-text-options">
        <div class="card-text">
          <h3>Welcome Admin</h3>
          <span class="access-text"
            >Access, view, and manage relevant administrative activities</span
          >
        </div>
        <div class="team-search">
          <label for="options">Team:</label>
          <select id="options" name="options" class="team-select">
            <option value="all">All Teams</option>
            <option value="team1">Team 1</option>
            <option value="team2">Team 2</option>
            <option value="team3">Team 3</option>
            <option value="team4">Team 4</option>
          </select>
        </div>
      </div>
    </div>
    <div class="dashboard-cards">
      <div class="total-clients">
        <img
          src="dashboard-images/Database.png"
          alt="add-user-icon"
          class="png-1"
        />Total Clients
        <div>
          <p>1250</p>
        </div>
      </div>
      <div class="completed-onboarding">
        <img
          src="dashboard-images/double-check.png"
          alt="add-user-icon"
          class="png"
        />
        Onboarded
        <p>800</p>
      </div>
      <div class="interested">
        <img
          src="dashboard-images/star.png"
          alt="add-user-icon"
          class="png"
        />Interested
        <p>260</p>
      </div>
      <div class="awaiting-documentation">
        <img
          src="dashboard-images/watch.png"
          alt="add-user-icon"
          class="png"
        />Awaiting Documentation
        <p>105</p>
      </div>
      <div class="pending">
        <img
          src="dashboard-images/abstract-8.png"
          alt="add-user-icon"
          class="png"
        />Pending
        <p>85</p>
      </div>
      <div class="not-interested">
        <img
          src="dashboard-images/cross-circle.png"
          alt="add-user-icon"
          class="png"
        />Not Interested
        <p>310</p>
      </div>
      <div class="status-breakdown">
        <div class="text-and-option">
          <img
            src="dashboard-images/chart-pie-3.png"
            alt="pie-chart"
            class="pie-chart"
          />
          <span>Status Breakdown</span>
          <div class="this-week-filter"></div>
        </div>
        <div class="doughnut-chart">
          <div class="doughnut">
            <canvas #myChart id="doughnutChart"></canvas>
          </div>
        </div>
      </div>
      <div class="status-breakdown">
        <div class="text-and-option">
          <img
            src="dashboard-images/chart-simple-2.png"
            alt="bar-chart"
            class="bar-chart"
          /><span>Team Performance</span>
          <div class="this-week-filter"></div>
        </div>
        <div class="bar-chart">
          <div class="bar-ch">
            <canvas id="barChart"></canvas>
          </div>
        </div>
      </div>
      <div class="overdue-actions-container">
        <div class="img-text-search">
          <div>
            <img src="dashboard-images/client-alert.png" alt="client-image" />
          </div>
          <span>Overdue Actions</span>
          <div class="filter-bar">
            <input
              type="search"
              placeholder="Search Client"
              class="search-input"
            />
            <select class="dropdown" aria-label="Filter by team">
              <option value="">All Teams</option>
              <option value="team_a">Team A</option>
              <option value="team_b">Team B</option>
              <option value="team_c">Team C</option>
            </select>
          </div>
        </div>
        <table>
          <thead>
            <tr class="table-headers">
              <th class="client-name">Client Name</th>
              <th class="assigned-to">Assigned To</th>
              <th class="date-added">Date Added</th>
              <th class="time-overdue">Time Overdue</th>
              <th class="team-name">Team</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="client-na">Client Name</td>
              <td class="member-na">Member Name</td>
              <td class="date-allo">10/05/2025</td>
              <td class="overdue">12 Days</td>
              <td class="team-na">Team A</td>
            </tr>
            <tr>
              <td class="client-na">Client Name</td>
              <td class="member-na">Member Name</td>
              <td class="date-allo">10/05/2025</td>
              <td class="overdue">4 Days</td>
              <td class="team-na">Team B</td>
            </tr>
          </tbody>
        </table>
        <div class="pagination">
          <label class="pag-text"
            >Show
            <select class="pag-select">
              <option>2</option>
            </select>
            per page
          </label>
          <div class="pages">
            <button type="button">1</button>
            <button type="button">2</button>
            <button type="button">3</button>
            <button type="button">4</button>
            <button type="button">5</button>
          </div>
        </div>
      </div>
      <div class="client-activity-tracker-container">
        <div class="img-text-search">
          <div>
            <img src="dashboard-images/client-alert.png" alt="client-image" />
          </div>
          <span>Client Activity Tracker</span>
          <div class="filter-bar">
            <input
              type="search"
              placeholder="Search Client"
              class="search-input"
            />
            <select class="dropdown" aria-label="Filter by team">
              <option value="">All Statuses</option>
              <option value="team_a">Team A</option>
              <option value="team_b">Team B</option>
              <option value="team_c">Team C</option>
            </select>
            <select class="dropdown" aria-label="Filter by team">
              <option value="">All Teams</option>
              <option value="team_a">Team A</option>
              <option value="team_b">Team B</option>
              <option value="team_c">Team C</option>
            </select>
          </div>
        </div>
        <table>
          <thead>
            <tr>
              <th class="act-cli-na">Client Name</th>
              <th class="act-stat">Status</th>
              <th class="act-date">Date Added</th>
              <th class="act-action">Last Action</th>
              <th class="act-ass">Assigned To</th>
              <th class="act-for">Forwarded By</th>
              <th class="act-team">Team</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="client-con">Client Name</td>
              <td class="badge-con">
                <span class="badge completed-onboarding">Onboarded</span>
              </td>
              <td class="date">10/04/2025</td>
              <td class="days">12 Days</td>
              <td class="mem-name">Member Name</td>
              <td class="name">Name</td>
              <td class="team">Team A</td>
            </tr>
            <tr>
              <td class="client-con">Client Name</td>
              <td class="badge-con">
                <span class="badge not-interested">Not Interested</span>
              </td>
              <td class="date">10/04/2025</td>
              <td class="days">12 Days</td>
              <td class="mem-name">Member Name</td>
              <td class="name">Name</td>
              <td class="team">Team B</td>
            </tr>
            <tr>
              <td class="client-con">Client Name</td>
              <td class="badge-con">
                <span class="badge interested">Interested</span>
              </td>
              <td class="date">10/04/2025</td>
              <td class="days">12 Days</td>
              <td class="mem-name">Member Name</td>
              <td class="name">Name</td>
              <td class="team">Team C</td>
            </tr>
            <tr>
              <td class="client-con">Client Name</td>
              <td class="badge-con">
                <span class="badge pending">Pending</span>
              </td>
              <td class="date">10/04/2025</td>
              <td class="days">12 Days</td>
              <td class="mem-name">Member Name</td>
              <td class="name">Name</td>
              <td class="team">Team D</td>
            </tr>
            <tr>
              <td class="client-con">Client Name</td>
              <td class="badge-con">
                <span class="badge awaiting-documentation"
                  >Awaiting Documentation</span
                >
              </td>
              <td class="date">10/04/2025</td>
              <td class="days">12 Days</td>
              <td class="mem-name">Member Name</td>
              <td class="name">Name</td>
              <td class="team">Team E</td>
            </tr>
          </tbody>
        </table>
        <div class="pagination">
          <label class="pag-text"
            >Show
            <select class="pag-select">
              <option>6</option>
            </select>
            per page
          </label>
          <div class="pages">
            <button type="button" class="active">1</button>
            <button type="button">2</button>
            <button type="button">3</button>
            <button type="button">4</button>
            <button type="button">5</button>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>







