<div class="dashboard-container">
  <app-sidebar></app-sidebar>

  <main>
    <!-- Notification Header -->
    <aside class="notification-header">
      <div class="header">
        <span
          class="back-btn"
          (click)="onBackArrow('dashboard')"
          routerLink="/admin/dashboard"
          routerLinkActive="selected"
        >
          <img src="Back arrow.png" alt="back-arrow" />
        </span>
        <h2>Reminder</h2>
      </div>
    </aside>

    <!-- Notification Body -->
    <div class="notification-container">
      <div class="container-details">
        <h4>NEW</h4>
        <button type="button" class="dismiss-btn">Dismiss All Read</button>
      </div>

      <!-- Loop through Notifications -->
      <div
        *ngFor="let note of unResolvedNotifications"
        class="notification-card"
      >
        <!-- Images to show when client is forwarded or client is pending -->
        <div class="icon">
          <img
            [src]="
              note.type === 'New Client Forwarded'
                ? 'paper-plane.png'
                : 'time-clock.png'
            "
            alt="notification-icon"
          />
        </div>

        <!-- This takes effect -->
        <div class="content">
          <h3>{{ note.type }}</h3>

          <!-- Conditional message if type is "New Client Forwarded" -->
          <p class="note-text" *ngIf="note.type === 'New Client Forwarded'">
            {{ note.message }}
          </p>

          <p class="note-text" *ngIf="note.type !== 'New Client Forwarded'">
            Client
            <strong class="important-text">{{ note.client.firstName }} {{ note.client.lastName }}</strong>
            is still in <br> <strong class="important-text"> ‘{{ note.client.clientStatus }}’</strong> status for
            {{ note.daysOverdue }} days.
          </p>

          <!-- Date -->
          <small>{{ note.createdAt | date: 'medium' }}</small>
        </div>

        <!-- Actions -->
        <div class="actions">
          <button type="button" class="alert-btn">Alert Team Lead</button>
          <button type="button" class="view-btn">View Client</button>
        </div>
      </div>
    </div>
  </main>
</div>
