<div class="dashboard-container">
  <app-sidebar />
  <main>
    <aside class="notification-header">
      <div class="header">
        <span
          class="back-btn"
          (click)="onBackArrow('dashboard')"
          routerLink="/admin/dashboard"
          routerLinkActive="selected"
          ><img src="Back arrow.png" alt="back-arrow"
        /></span>
        <h2>Notification</h2>
      </div>
    </aside>
    <div class="notification-container">
      <div class="container-details">
        <h4>NEW</h4>
        <button class="dismiss-btn">Dismiss All Read</button>
      </div>
      <div
        *ngFor="let note of notification"
        class="notification-card"
      >
        <div class="icon">
          <img
            [src]="
              note.type === 'New Client Forwarded'
                ? 'paper-plane.png'
                : 'time-clock.png'
            "
            alt="logo"
          />
        </div>
        <div class="content">
          <h3>{{ note.type }}</h3>
          <p *ngIf="note.type === 'New Client Forwarded'">
             {{note.message}}
            
            >.
          </p>
          <p>
            Client <strong>{{note.client.firstName}} {{note.client.lastName}}</strong> is still in ‘Pending’
            status for 4 days.
          </p>
          <small>{{timeAgo}}</small>
        </div>
        <div class="actions">
          <button type="button" class="alert-btn">Alert Team Lead</button>
          <button type="button" class="view-btn">View Client</button>
        </div>
      </div>
      <!-- <h4 class="earlier">EARLIER</h4> -->
     
    </div>
  </main>
</div>
