<div class="dashboard-container">
  <app-sidebar></app-sidebar>
  <app-sidebar/>
  <main>
    <aside class="notification-header">
      <h2>Notification</h2>
    </aside>
    <div class="notification-container">
      <div class="card-container">
        <div class="card-header">
          <h5>New</h5> <span class="header-text">Dismiss All Read</span>
        </div>
        <div class="card-body">
          <img src="paper-plane.png" alt="paper plane" />
          <span class="card-text">New Client Forwarded</span>
        </div>
    </div>
  </div>
  </main>

</div>

