<div class="main-container">
  <!-- <img src="OTP Vector" alt="Vector Image" class="vector-image" /> -->
  <div class="login-container">
    <div class="login-form">
      <div class="form-top">
        <img class="logo" src="Lead Tracker Logo.png" alt="logo" />
        <h1 class="welcomeMessage">Welcome back to Leads Tracker</h1>
      </div>

      <div class="form-container">
        <h2 class="loginInstruction">Log in to access your dashboard</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="email-sec">
            <label class="email" for="email">Email</label>
            <input
              type="email"
              id="email"
              formControlName="email"
              placeholder="email@email.com"
              [ngClass]="{
                'invalid-input':
                  loginForm.get('email')?.invalid &&
                  loginForm.get('email')?.touched
              }"
            />
            @if(loginForm.get('email')?.touched &&
            loginForm.get('email')?.invalid){

            <div>
              <span
                class="error-message"
                *ngIf="loginForm.get('email')?.errors?.['required']"
                >Email is required.</span
              >
              <span
                class="error-message"
                *ngIf="loginForm.get('email')?.errors?.['email']"
                >Invalid email format.</span
              >
            </div>

            }
          </div>
          <div class="password-sec">
            <div class="password-top">
              <label class="password" for="password">Password</label>
              <div class="forgot-password">
                <a [routerLink]="['/authentication/reset-password']"
                  >Forgot Password?</a
                >
              </div>
              <!-- <a [routerLink]="['/reset-flow']" [queryParams]="{ status: 'resetSuccess' }">Password Reset Success</a> -->
            </div>

            <input
              type="password"
              [type]="fieldTextType ? 'text' : 'password'"
              id="password"
              formControlName="password"
              placeholder="Enter Password"
              [ngClass]="{
                'invalid-input':
                  loginForm.get('password')?.invalid &&
                  loginForm.get('password')?.touched
              }"
            />
            <span
              toggle="#password-field"
              class="fa fa-fw fa-eye-slash field-icon toggle-password"
              [ngClass]="{
                'fa-eye-slash': !fieldTextType,
                'fa-eye': fieldTextType
              }"
              (click)="toggleFieldTextType()"
            ></span>

            @if(loginForm.get('password')?.touched &&
            loginForm.get('password')?.invalid){
            <div>
              <span
                *ngIf="loginForm.get('password')?.errors?.['required']"
              ></span>
              <span
                *ngIf="loginForm.get('password')?.errors?.['minlength']"
              ></span>
              <span
                class="error-message"
                *ngIf="loginForm.get('password')?.errors?.['weakPassword']"
                >Password is required</span
              >
              <p
                *ngIf="loginForm.get('password')?.errors?.['minlength']"
                class="error-message"
              >
                Password must be at least 8 characters long.
              </p>
            </div>

            }
          </div>
          @if(invalidLoginMessage){
          <p class="error-message">Invalid Credentials</p>
          }

          <div class="login-button">
            <button
              [formGroup]="loginForm"
              type="submit"
              (ngSubmit)="onSubmit()"
              class="disable-button"
              [disabled]="loginForm.invalid"
            >
              @if(!spinner){ Login
              <i class="fa-solid fa-arrow-right"></i>
              } @if (spinner){
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <style>
                  .spinner_P7sC {
                    transform-origin: center;
                    animation: spinner_svv2 0.75s infinite linear;
                  }
                  @keyframes spinner_svv2 {
                    100% {
                      transform: rotate(360deg);
                    }
                  }
                </style>
                <path
                  d="M10.14,1.16a11,11,0,0,0-9,8.92A1.59,1.59,0,0,0,2.46,12,1.52,1.52,0,0,0,4.11,10.7a8,8,0,0,1,6.66-6.61A1.42,1.42,0,0,0,12,2.69h0A1.57,1.57,0,0,0,10.14,1.16Z"
                  class="spinner_P7sC"
                  fill="#FFFFFF"
                />
              </svg>
              }
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="login-image">
      <img src="newMobile.png" alt="Login-image" />
    </div>
  </div>
</div>
