.login-container {
  display: flex;
  justify-content: center;
  gap: 200px;
}

.login-content {
  justify-items: center;
  align-self: center;
  /* background-color: red; */

}
.login-image {
  width: 574px;
  height: 763px;
}

.welcome-text {
  margin: 5px;
}
 .login-text  {
  align-items: center;
  text-align: center;
  color: #000000;

}
 .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #ffd000;
  border-radius: 10px;
 }

 .access-text{
  text-align: center;
  color: #4b5675;
 }

form {
  display: flex;
  flex-direction: column;
  background-color: rgb(209, 209, 209);
  margin-inline: 2px;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  margin: 40px;
}

button {
  background-color: #f46036;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}



