
<div *ngIf="resetPage">

<div class="from-login-container">
  <div class="login-container">
    <div class="login-form">
      <div class="form-top">
        <h1 class="top-text">CREATE A NEW PASSWORD</h1>
      </div>

      <div class="form-container">
        <h2 class="req-instruction">
          Make sure your new password meets <br />the security requirements.
        </h2>
        <form [formGroup]="ResettingPasswordForm" (ngSubmit)="onSubmit()" novalidate>
          <div class="password-sec">
            <div class="password-top">
              <label class="password" for="newPassword">New Password</label>
            </div>

            <input
            id="newPassword"
            [type]="fieldTextType ? 'text' : 'password'"
            formControlName="password"
            placeholder="New Password"
            [ngClass]="{
                'invalid-input': ResettingPasswordForm.get('password')?.invalid && ResettingPasswordForm.get('password')?.touched,

              }"
               />

            <span
              toggle="#password-field"
              class="fa fa-fw fa-eye-slash field-icon eye1 toggle-password"
              [ngClass]="{
                'fa-eye-slash': !fieldTextType,
                'fa-eye': fieldTextType
              }"
              (click)="toggleFieldTextType()"

            ></span>
            <!-- <div *ngIf="ResettingPasswordForm.get('password')?.hasError('minlength')">hello</div> -->

            <div class="password-top">
              <label class="password" for="confirmPassword">Confirm New Password</label>
            </div>

            <input
            [type]=" fieldTextType2 ? 'text' : 'password'"
            id="confirmPassword"
            formControlName="confirmPassword"
            placeholder="Confirm New Password"
            [ngClass]="{
                'invalid-input': ResettingPasswordForm.hasError('mismatch') && ResettingPasswordForm.get('confirmPassword')?.touched
              }"
             />

            <span
              toggle="#password-field"
              class="fa fa-fw fa-eye-slash field-icon eye2 toggle-password"
              [ngClass]="{
                'fa-eye-slash': !fieldTextType2,
                'fa-eye': fieldTextType2
              }"
              (click)="toggleFieldTextType2()"
            ></span>

            <div *ngIf="ResettingPasswordForm?.errors?.['mismatch']">
              <small class="error-message">Password must meet security requirements.</small>
            </div>

          </div>
          <div class="login-button">
            <button type="submit" [formGroup]="ResettingPasswordForm" (ngSubmit)="onSubmit()">
              Update Password

            </button>
          </div>
        </form>
      </div>
    </div>
    <!-- <div *ngIf="showErrors"> -->
    <div *ngIf="showGuide" class="password-requirement"
    [ngClass]="{
      'validForm': !ResettingPasswordForm.hasError('mismatch') && !ResettingPasswordForm.get('password')?.invalid && showGuide
    }"
    >
        <div class="inner-container">
            <p>Your password must:</p>
            <ul>
            <li>Be at least 8 characters</li>
            <li>Include uppercase and lowercase letterss</li>
            <li>Include a number</li>
            <li>Include a special character (e.g., !, &#64;, #)</li>
</ul>
        </div>
    </div>

  </div>
</div>

</div>


<!-- timeout -->

<!-- <div *ngIf="" class="access-denied-screen"> -->




     <!-- <div class="timeout-comp-wrapper">
        <img src="OTPVector.jpg" alt="" class="permanent-bg-image">
        <div class="timeout-main-container">
          <img class="alert-img" src="Alerttriangle.png" alt="danger-icon" />
          <h3 class="timeout-warning">TIMEOUT</h3>
          <div class="timeout-box">
          <div>
            <p class="timeout-warning-info">
                his reset link has expired.<br>
                Please request a new one.
            </p>
          </div>

              <button class="timeout-button">Resend email</button>

        </div>
    </div>
      </div> -->

 <!-- </div> -->


 <!-- suces -->
 <div *ngIf="successPage">
    <div class="email-sent-wrapper">
      <img src="OTPVector.jpg" alt="" class="permanent-bg-image" />
      <div class="email-sent-main-container">
        <img src="Frame5.png" alt="" />
        <p class="email-sent-top-info">
          Password reset successfully.
        </p>
        <span class="down-info">You can now sign in with your new password.</span>

        <button class="email-sent-button" [routerLink]="['/authentication/login']">
          Back to login
        </button>

      </div>
    </div>
    </div>
