/*  */
*{
    font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.from-login-container{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex
;
    align-content: center;
    flex-direction: column;
    align-items: anchor-center;
    justify-content: center;

}

.login-container{
    display: flex;
    flex-direction: row;
    gap: 80px;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding:10px 1px;
    gap:20px;
}
.form-container{
    padding: 40px 44px;
    border: 1px solid #F1F1F4;
    border-radius: 13.3px;
    margin-top: 20px;
}
.login-form{
    align-content: center;
    text-align: left;
}


.top-text{
    text-align: center;
    font-size: 32px;
    font-weight: 800;

}

.req-instruction{
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #4B5675;
}
label{
    display: block;
    padding-bottom: 10px;
    margin-top:10px ;
    font-size: 14px;
    font-weight: 400;
    font-size: 14px;

}
input{
    display: block;
    width: 94%;
    padding: 8px;
    border: #F1F1F4 1px solid;
    border-radius: 6.65px;
    margin-bottom: 10px;

}
input::placeholder{
    color: #78829D;
    font-size: 14px;

}
.error-message{
    color: #DC362E;
}
button{
    width: 100%;
    padding: 10px;
    background-color: #F46036;
    border: none;
    border-radius: 6.65px;
    color: white;

}
.validForm{
    color:#039181 !important;
}
.valid{
    color:#039181 !important;
}
.password-top{
    display: flex;
    justify-content: space-between;
}
.forgot-password{
    font-size: 13px;
    color: #1B84FF;
}

.eye1{
    float: right;
    position: relative;
    z-index: 2;
    margin-right: 10px;
    margin-top: -35px;
    padding-right: 10px;
    color:#99A1B7;
}
.eye2{
    float: right;
    position: relative;
    z-index: 2;
    margin-right: 10px;
    margin-top: -35px;
    padding-right: 10px;
    color:#99A1B7;
}


.invalid-input {
    border: 1px solid red;
    outline: none;
  }
  .error-message{
    color: #DC362E;
    font-size: 13px;
  }
  .password-requirement{
    align-content: end;
    font-size: 14px;
    color: #DC362E;
  }

  .inner-container{
    background: #F6F6F6;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 50px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.24);
  }


  /* smaller laptops (<= 1024px) */
@media(max-width:1024px){
    .top-text{
        font-size: 27px;
    }
}
@media(max-width:768px){
    .login-container{
        flex-direction: column;
        gap: 10px;
    }
}
  /* timeout */

  .permanent-bg-image{
    position: absolute;
    width: 10%;
    left: 4%;
    top: 10%;
}

.timeout-comp-wrapper{
    margin: 0;
    height: 100vh;
    align-content: center;
    justify-self: center;
    text-align: center;
}

.timeout-main-container{
    padding: 50px 30px;
    /* border: 1px solid #F1F1F4;
    border-radius: 12px; */
    display: flex;
    flex-direction: column;
    gap: 5px;



}

.timeout-warning{

    font-size: 32px;
    font-weight: 800 ;
    color: #DC362E;
    margin-top:10px;
    margin-bottom: 15px;
}

.timeout-warning-info{
    font-size: 16px;
    font-weight: 100;
    color: #4B5675;
    line-height: 1.7;
    margin-top: 0px;
    margin-bottom: 12px;
    line-height: 1.4;

}

.alert-img{
    width: 106px;
    align-self: center;

}
.timeout-box{
    border: 1px solid #F1F1F4;
    width: 410.3px;
    height: 184px;
    border-radius: 13.3px;
    align-content: center;
}



.timeout-button{
    background: #F46036;
    padding: 10px;
    border: none;
    color:white;
    border-radius: 6px;
    width: 70%;
}



/* suc */

.email-sent-wrapper{
    margin: 0;
    height: 100vh;
    align-content: center;
    justify-self: center;
    text-align: center;
}

.email-sent-main-container{
    padding: 44px ;
    border: 1px solid #F1F1F4;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* width: 378px; */
    /* height: 266px; */
    justify-content: center;
    align-items: center;



}
/* .forgot-password{
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 15px;


} */
.email-sent-top-info{
    color:#071437;
    font-size: 14px;
    font-weight: 400;
}




.email-sent-button{
    background: #F46036;
    padding: 10px;
    border: none;
    color:white;
    border-radius: 6px;
    width: 100%;
}
.resend{
    color: #F46036;
}

/* emailDoesNotMatch */
/* error */

.error-page-wrapper{
    margin: 0;
    height: 100vh;
    align-content: center;
    justify-self: center;
    text-align: center;
}
.down-info{
    color:#4B5675;
    font-size: 13px;
    margin-bottom: 12px;
}
