<div class="dashboard-container">
  <app-sidebar></app-sidebar>

  <main>

      <div class="header">
        <button class="back-btn" (click)="onBackArrow('dashboard')">
        <img src="Back arrow.png" alt="back-arrow" />
      </button>
        <h2>Preset Targets</h2>
    </div>
    <div class="top-bar">
        <input
          type="text"
          placeholder="Search by Team"
          [(ngModel)]="searchTerm"
          (input)="applyFilter()"
        />
        <button type="button" (click)="exportData()">
          <img src="Export.png" class="export-image" alt="export-image" />
          Export Data
        </button>
      </div>


    <table>
            <thead>
              <tr>
                <th class="table-header">Team Name</th>
                <th class="table-header">Team Lead Name</th>
                <th class="table-header">No. of Members</th>
                <th class="  table-header">Target Due Date</th>
                <th class=" table-header">Assigned Target</th>
                <th class=" table-header">Assign Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="client-con table-data">
                  NAME
                </td>
                <td class="date table-data">
               NAME 2
                </td>
                <td class="days time-overdue-values table-data">NAME 3</td>
                <td class="mem-name table-data">NAME 4</td>
                <td class="name table-data">NAME 5</td>
                <td>
              <a href="#" (click)="openTargetModal(); $event.preventDefault()">Assign Target</a>
            </td>
              </tr>
            </tbody>
          </table>

  </main>
</div>
