* {
    font-family: "Instrument Sans", inter;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  
  :host {
    display: block;
    /* max-width: 550px; */
    width: 100%;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    font-family: "Instrument Sans", inter;
    box-sizing: border-box;
  }
  .deactivate-team-modal {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
  
  .deactivate-icon-and-title {
    color: #1e1e1e;
    font-size: 24px;
    font-weight: 600;
  }
  .deactivate-message {
    color: #757575;
    font-size: 19.7px;
    font-family: inter;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 130%;
  }
  .error-message{
    color:red;
    font-size:15px;
  }
  
  .cancel-deactivate-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .cancel-deactivate-buttons button {
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
  }
  .cancel-button {
    font-weight: 500;
  }
  .deactivate-button {
    background: #f46036;
    color: white;
  }
  
  /* succesful deactivate changes  */
  
  .succesfully-deleted {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding: 20px;
  }
  .succesfully-deleted p {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
  }
  .succesfully-deleted button {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
  }
  .assign-button {
    background: rgba(244, 96, 54, 0.2);
    color: #f46036;
    border: 1px solid #f46036;
  }
  .back-button {
    background: #ededed;
    border: none;
  }
  
  button[class="back-button"]:hover {
    background-color: transparent;
    color: #f46036;
    border: 1px solid #f46036;
    border-radius: 5px;
    cursor: pointer;
  }
  