<div class="dashboard-container">
  <app-sidebar />
  <main>
    <!-- <aside class="set-target-header">
      <span class="back-arrow">&larr;</span>
      <h2>Assign Team Target</h2>
    </aside> -->

    <div class="container">
      <div class="header">
        <span
          class="back-arrow"
          (click)="onBackArrow('dashboard')"
          routerLink="/admin/dashboard"
          routerLinkActive="selected"
          ><img src="Back arrow.png" alt="back-arrow"
        /></span>
        <h2>Team Targets Overview</h2>

        <!-- <button class="export-btn">Export Data</button> -->
      </div>

      <div class="controls">
        <input type="text" class="search-input" placeholder="Search by Team" />
        <select
          title="search"
          (ngModel)="(selectedFrequency)"
          class="select-input"
        >
          <option value="Quarterly">Monthly</option>
          <option value="Monthly">Quarterly</option>
          <option value="Yearly">Yearly</option>
        </select>
      </div>

      <div class="team-card" *ngFor="let team of teams">
        <div class="card-header">
          <div class="avatar"></div>
          <div class="info">
            <div class="team-name">{{ team.name }}</div>
            <div class="lead">Lead: {{ team.lead }}</div>
          </div>
          <div class="dates">
            <div><strong>Set Date:</strong> {{ team.setDate }}</div>
            <div><strong>Due Date:</strong> {{ team.dueDate }}</div>
          </div>
        </div>

        <div class="target-info">
          <strong>Target:</strong> {{ team.target }}
          <br />
          Total Recommendations Submitted:
          <strong>{{ team.submitted }} / {{ team.target }}</strong>
        </div>

        <div class="progress-bar-wrapper">
          <div
            class="progress-bar-fill"
            [style.width.%]="getProgress(team.submitted, team.target)"
          ></div>
        </div>

        <div class="view-details">
          <a routerLink="/admin/team-breakdown">View Details</a>
        </div>
      </div>
    </div>
  </main>
</div>
