<div class="reset-password-container">
  <img src="Reset Password Vector.png" alt="reset-vector" />
  <div>
    <h1 class="heading">RESET PASSWORD</h1>
    <div class="reset-details">
      <p class="reset-text">
        For security, please create a new password <br />
        before accessing your dashboard.
      </p>

      <form [formGroup]="resetPassword" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="newPassword">New Password</label>
          <input
            type="password"
            id="newPassword"
            formControlName="newPassword"
            placeholder="Enter Password"
            [ngClass]="{
              'invalid-input':
                resetPassword.get('newPassword')?.touched &&
                resetPassword.get('newPassword')?.invalid
            }"
          />
          <div
            *ngIf="
              resetPassword.get('newPassword')?.invalid &&
              resetPassword.get('newPassword')?.touched
            "
          >
            <small
              class="error-text"
              *ngIf="resetPassword.get('newPassword')?.errors?.['required']"
              >New Password is required.</small
            >
            <small
              class="error-text"
              *ngIf="resetPassword.get('newPassword')?.errors?.['minlength']"
              >Min 8 characters required.</small
            >
            <small
              class="error-text"
              *ngIf="resetPassword.get('newPassword')?.errors?.['weakPassword']"
              >Must include a letter and number.</small
            >
          </div>
        </div>
        <div class="form-group">
          <label for="confirmNewPassword">Confirm New Password</label>
          <input
            type="password"
            id="confirmNewPassword"
            formControlName="confirmNewPassword"
            placeholder="Re-enter a new Password"
            [ngClass]="{
              'invalid-input':
                resetPassword.get('confirmNewPassword')?.touched &&
                resetPassword.get('confirmNewPassword')?.invalid
            }"
          />
          <div
            *ngIf="
              resetPassword.get('confirmNewPassword')?.invalid &&
              resetPassword.get('confirmNewPassword')?.touched
            "
          >
            <small
              class="error-text"
              *ngIf="resetPassword.get('confirmNewPassword')?.errors?.['required']"
              >Confirm Password is required.</small
            >
            <small
              class="error-text"
              *ngIf="resetPassword.get('confirmNewPassword')?.errors?.['passwordMismatch']"
              >Passwords do not match.</small
            >
          </div>
        </div>
        <div class="update-password-button">
          <button type="submit">Update Password</button>
        </div>
      </form>
    </div>
  </div>
  <div class="validation-notice">
    <p>
      Your Password must: <br />
      Be at least 8 characters Include uppercase and lowercase letters Include a
      number Include a special charater (e.g., !,&#64;,#)
    </p>
  </div>
</div>

<div class="timeout-container">
  <img src="Timeout.png" alt="timeout-vector" />
  <div class="timeout-details">
    <p class="timeout-text">
      This reset link has expired. <br />
      Please request a new reset link.
    </p>
    <button
      class="request-reset-button"
      (click)="requestNewResetLink()"
      type="button"
    >
      Resend Email
    </button>
  </div>
</div>

<div class="password-reset-success">
  <img src="Success.png" alt="success-vector" />
  <div class="success-details">
    <p class="success-text">Your password successfully reset.</p>
    <h3>You can now log in with your new password.</h3>
    <button class="login-button" routerLink="/login" type="button">
      Go to Login
    </button>
  </div>
</div>
