* {
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.permanent-bg-image {
  position: absolute;
  width: 10%;
  left: 4%;
  top: 10%;
}

.wrapper {
  margin: 0;
  height: 100vh;
  align-content: center;
  justify-self: center;
  text-align: center;
}

.main-container {
  padding: 44px;
  border: 1px solid #f1f1f4;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* width: 378px; */
  /* height: 266px; */
  justify-content: center;
  align-items: center;
}
.from-email-forgot-password {
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.top-info {
  color: #4b5675;
  font-size: 14px;
}
form {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.email-input {
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 6px;
  box-sizing: border-box;
  border: 1px solid #dbdfe9;
  padding: 10px;
  background: #fcfcfc;
}
input::placeholder {
  color: #78829d;
}
label {
  display: block;
  color: #071437;
  font-size: 14px;
  margin-bottom: 10px;
}

button {
  background: #f46036;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 6px;
  width: 100%;
}

/* Email sent page */

.email-sent-wrapper {
  margin: 0;
  height: 100vh;
  align-content: center;
  justify-self: center;
  text-align: center;
}

.email-sent-main-container {
  padding: 44px;
  border: 1px solid #f1f1f4;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  /* width: 378px; */
  /* height: 266px; */
  justify-content: center;
  align-items: center;
  width: 100%;
}
/* .forgot-password{
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 15px;


} */
.email-sent-top-info {
  color: #4b5675;
  font-size: 14px;
}

.email-sent-button {
  background: #f46036;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 6px;
  width: 70%;
}
.resend {
  color: #f46036;
}

/* emailDoesNotMatch */
/* error */

.error-page-wrapper {
  margin: 0;
  height: 100vh;
  align-content: center;
  justify-self: center;
  text-align: center;
}

.error-page-container {
  padding: 44px;
  border: 1px solid #f1f1f4;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* width: 378px; */
  /* height: 266px; */
  justify-content: center;
  align-items: center;
}
.error {
  font-size: 32px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-transform: uppercase;
  color: #dc362e;
}
.error-page-top-info {
  color: #dc362e;
  font-size: 14px;
}

.error-page-button {
  background: #f46036;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 6px;
  width: 100%;
}

/*  */

.from-login-container {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: anchor-center;
  justify-content: center;
}

.login-container {
  display: flex;
  flex-direction: row;
  gap: 80px;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 1px;
  gap: 20px;
}
.form-container {
  padding: 10px 44px;
  border: 1px solid #f1f1f4;
  border-radius: 13.3px;
}
.login-form {
  align-content: center;
  text-align: left;
}

.top-text {
  text-align: center;
  font-size: 32px;
  font-weight: 800;
}

.req-instruction {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #4b5675;
}
label {
  display: block;
  padding-bottom: 0px;
  font-size: 14px;
  font-weight: 400;
}
input {
  display: block;
  width: 94%;
  padding: 8px;
  border: #f1f1f4 1px solid;
  border-radius: 6.65px;
  margin-bottom: 8px;
}
input::placeholder {
  color: #78829d;
  font-size: 14px;
}
button {
  width: 100%;
  padding: 10px;
  background-color: #f46036;
  border: none;
  border-radius: 6.65px;
  color: white;
}
.password-top {
  display: flex;
  justify-content: space-between;
}
.forgot-password {
  font-size: 13px;
  color: #1b84ff;
}

.field-icon {
  float: right;
  position: relative;
  z-index: 2;
  margin-right: 18px;
  margin-top: -34px;
  padding-right: 10px;
}

.login-button {
  margin-bottom: 30px;
}

.invalid-input {
  border: 1px solid red;
  outline: none;
}
.error-message {
  color: #dc362e;
  font-size: 13px;
}
.password-requirement {
  align-content: end;
  font-size: 14px;
  color: #039181;
}

.inner-container {
  background: #f6f6f6;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 50px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.24);
}

/* timeout */

.permanent-bg-image {
  position: absolute;
  width: 10%;
  left: 4%;
  top: 10%;
}

.timeout-comp-wrapper {
  margin: 0;
  height: 100vh;
  align-content: center;
  justify-self: center;
  text-align: center;
}

.timeout-main-container {
  padding: 50px 30px;
  /* border: 1px solid #F1F1F4;
    border-radius: 12px; */
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.timeout-warning {
  font-size: 32px;
  font-weight: 800;
  color: #dc362e;
  margin-top: 10px;
  margin-bottom: 15px;
}

.timeout-warning-info {
  font-size: 16px;
  font-weight: 100;
  color: #4b5675;
  line-height: 1.7;
  margin-top: 0px;
  margin-bottom: 12px;
  line-height: 1.4;
}

.alert-img {
  width: 106px;
  align-self: center;
}
.timeout-box {
  border: 1px solid #f1f1f4;
  width: 410.3px;
  height: 184px;
  border-radius: 13.3px;
  align-content: center;
}

.timeout-button {
  background: #f46036;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 6px;
  width: 70%;
}
