<!-- <div *ngIf="isFromEmail"> -->
<div class="wrapper">
  <img src="OTPVector.jpg" alt="" class="permanent-bg-image" />
  <h3 class="from-email-forgot-password">Forgot Password?</h3>
  <div class="main-container">
    <p class="top-info">
      Enter the email linked to your Leads Tracker Admin<br />
      account to reset your password.
    </p>
    <form
      [formGroup]="emailForgotPasswordForm"
      (ngSubmit)="onSubmit()"
      novalidate
    >
      <div>
        <label for="email" class="email">Email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          placeholder="email@email.com"
          [ngClass]="{
            'invalid-input':
              emailForgotPasswordForm.get('email')?.invalid &&
              emailForgotPasswordForm.get('email')?.touched
          }"
        />
        <div
          *ngIf="
            emailForgotPasswordForm.get('email')?.touched &&
            emailForgotPasswordForm.get('email')?.invalid
          "
        >
          <span
            class="error-message"
            *ngIf="emailForgotPasswordForm.get('email')?.errors?.['required']"
            >Email is required.</span
          >
          <span
            class="error-message"
            *ngIf="emailForgotPasswordForm.get('email')?.errors?.['email']"
            >Invalid email format.</span
          >
        </div>
      </div>
      <button
        class="permanent-button"
        [formGroup]="emailForgotPasswordForm"
        (ngSubmit)="onSubmit()"
      >
        Send Reset Link
      </button>
    </form>
  </div>
</div>
<!-- </div> -->

<!-- Email Sent Page -->
<!-- <div *ngIf="emailExists"> -->
<div class="email-sent-wrapper">
  <img src="OTPVector.jpg" alt="" class="permanent-bg-image" />
  <div class="email-sent-main-container">
    <img src="Frame5.png" alt="" />
    <p class="email-sent-top-info">
      Enter the email linked to your Leads Tracker Admin<br />
      account to reset your password.
    </p>

    <button class="email-sent-button" [routerLink]="['/authentication/login']">
      Back to login
    </button>

    <p class="email-sent-top-info">
      Didn’t receive an email? <span class="resend">Resend</span>
    </p>
  </div>
</div>
<!-- </div> -->

<!-- 
<div *ngIf="emailDoesNotMatch"> -->

<div class="error-page-wrapper">
  <img src="OTPVector.jpg" alt="" class="permanent-bg-image" />
  <div class="error-page-container">
    <img src="Alerttriangle.png" alt="" />
    <h3 class="error">Error</h3>
    <p class="error-page-top-info">
      This email is not associated with any<br />
      admin account
    </p>

    <button class="error-page-button" [routerLink]="['/authentication/login']">
      Back to login
    </button>
  </div>
</div>

<!-- </div> -->

<!-- From login page -->

<!-- <div *ngIf="isFromLogin"> -->

<div class="from-login-container">
  <!-- <img src="OTP Vector" alt="Vector Image" class="vector-image" /> -->
  <div class="login-container">
    <div class="login-form">
      <div class="form-top">
        <h1 class="top-text">CREATE A NEW PASSWORD</h1>
      </div>

      <div class="form-container">
        <h2 class="req-instruction">
          Make sure your new password meets <br />the security requirements.
        </h2>
        <form>
          <div class="password-sec">
            <div class="password-top">
              <label class="password" for="password">New Password</label>
            </div>

            <input type="password" id="password" placeholder="Enter Password" />
            <span
              toggle="#password-field"
              class="fa fa-fw fa-eye field-icon toggle-password"
            ></span>

            <div class="password-top">
              <label class="password" for="password">Confirm New Password</label>
            </div>

            <input type="password" id="password" placeholder="Enter Password" />
            <span
              toggle="#password-field"
              class="fa fa-fw fa-eye field-icon toggle-password"
            ></span>

            <!-- <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
                    <span *ngIf="loginForm.get('password')?.errors?.['required']"></span>
                    <span *ngIf="loginForm.get('password')?.errors?.['minlength']"></span>
                    <span class="error-message" *ngIf="loginForm.get('password')?.errors?.['weakPassword']">password is incorrect / required</span>
                  </div> -->
          </div>
          <div class="login-button">
            <button type="submit">
              Login
              <i class="fa-solid fa-arrow-right"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="password-requirement">
        <div class="inner-container">
            <p>Your password must:</p>
            <li>Be at least 8 characters</li>
            <li>Include uppercase and lowercase letterss</li>
            <li>Include a number</li>
            <li>Include a special character (e.g., !, &#64;, #)</li>
        </div>
    </div>
  </div>
</div>

<!-- </div> -->


<!-- timeout -->

<!-- <div *ngIf="" class="access-denied-screen"> -->
       

    

    <div class="timeout-comp-wrapper">
        <img src="OTPVector.jpg" alt="" class="permanent-bg-image">
        <div class="timeout-main-container">
          <img class="alert-img" src="Alerttriangle.png" alt="danger-icon" />
          <h3 class="timeout-warning">TIMEOUT</h3>
          <div class="timeout-box">
          <div>
            <p class="timeout-warning-info">
                his reset link has expired.<br> 
                Please request a new one.
            </p>
          </div>
          
              <button class="timeout-button">Resend email</button>
          
        </div>
    </div>
      </div>

  <!-- </div> -->