.reset-password-container {
  display: flex;
  gap: 7.5%;
}

button {
  background-color: #f46036;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 321.35px;
  height: 44.32px;
  margin-bottom: 22.1px;
  margin-top: 20px;
}

input {
  border: solid 1px #78829D;
  border-radius: 5px;
  width: 321.35px;
  height: 44.32px;
}

.form-group {
  display: flex;
  flex-direction: column;

}

label {
  margin-top: 15px;
 margin-bottom: 5px;
  color: #4b5675;
}

 .reset-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 410.50px;
  background-color: #FFFFFF;
  border: solid 1.11px #F1F1F4;
  border-radius: 15px;
  height: 367.70px;

 }

 .reset-text{
  text-align: center;
  color: #4b5675;
 }

 .heading {
  text-align: center;
 }

 .validation-notice {
  width : 329px;
  height: 128px;
  border: solid 1px #78829D;
  border-radius: 5px;
  background-color: #F1F1F4;
  color: #039181;
 }

.error-text {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.invalid-input {
  border-color: red;
}


.timeout-container {
  width: 410.32px;
  height: 407.67px;
 text-align: center;
 place-self: anchor-center;

}

.timeout-details {
  width: 410.32;
  height: 188.84;
  border: solid 1.11px #F1F1F4;
}

button .request-reset-button {
  align-items: center;
}
.password-reset-success {
  width: 440px;
  height: 450.5px;
 text-align: center;
 place-self: anchor-center;
 border: solid 1.11px #F1F1F4;

}

