

<form [formGroup]= "modalForm" (ngSubmit)="submitForm()">

  <h3> Create New Team Lead</h3>
      <div class="form-group">
        <label>First Name</label>
        <input type="text" formControlName="firstName" placeholder="Enter first name" title="First Name" />
        <div class="error" *ngIf="modalForm.get('firstName')?.touched && modalForm.get('firstName')?.invalid">
          First name is required
        </div>
      </div>

      <div class="form-group">
        <label>Other Name(s)</label>
        <input type="text" formControlName="otherNames" placeholder="Enter other names" title="Other Names" />
      </div>

      <div class="form-group">
        <label>Business Email</label>
        <input type="email" formControlName="email" placeholder="Enter business email" title="Business Email" />
        <div class="error" *ngIf="modalForm.get('email')?.touched && modalForm.get('email')?.invalid">
          Enter a valid email
        </div>
      </div>

      <div class="form-group">
        <label>Phone Number</label>
        <input type="tel" formControlName="phone" placeholder="Enter phone number" title="Phone Number" />
        <div class="error" *ngIf="modalForm.get('phone')?.touched && modalForm.get('phone')?.invalid">
          Phone number is required
        </div>
      </div>

      <div class="form-group">
        <label>Staff ID</label>
        <input type="text" formControlName="staffId" placeholder="Enter staff ID" title="Staff ID" />
        <div class="error" *ngIf="modalForm.get('staffId')?.touched && modalForm.get('staffId')?.invalid">
          Staff ID is required
        </div>
      </div>

      <button type="submit">Submit</button>
      <!-- <button type="button" (click)="closeModal()">Cancel</button> -->
    </form>

