.pagination {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .pagination label {
    font-size: 0.85rem;
  }
  
  
  .pagination .pages {
    display: flex;
    gap: 0.3rem;
  }
  
  .pagination-button {
    background: unset;
    border: none;
    padding: 0.4rem 0.7rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.85rem;
  }
  .pagination-button:hover{
    background:#F1F1F4;
  }
  
  .pagination button.active {
    background: #F1F1F4;
    color: #252F4A;
    border:none;
    padding:5px 12px;
    border-radius: 4px;
    cursor: pointer;
  
  }