@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Wix+Madefor+Display:wght@400..800&display=swap");

* {
  margin: 0;
  font-family: "Instrument Sans", inter, "wix-madefor-display";
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.dashboard-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.sidebar {
  background-color: #f1f1f4;
  flex: 1 0 10%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #afafaf;
}
.dash-logo {
  margin-bottom: 40px;
}
.logout-button {
  display: flex;
  gap: 10px;
  align-items: center;
}
.logout {
  color: #f46036;
}
main {
  background-color: #f9f9f9;
  width: 100%;
  overflow-y: auto;
}
.main-content {
  padding: 20px 30px;
}

li {
  list-style: none;
  font-size: 14px;
  padding: 5px;
}
.navigation-links {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-buttons-container {
  display: flex;
  gap: 20px;
  align-items: center;
}
/*  */
.unassigned-members-button {
  display:none !important;
  border-radius: 5px;
  padding: 8px 16px;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 10px;
  border: 1px solid #dbdfe9;
}

.add-team-button {
  background-color: #f46036;
  color: #ffffff;
  border-radius: 5px;
  padding: 8px 16px;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 10px;
  border: none;
}

.profile-image {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  object-fit: fill;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Wix Madefor Display", inter;
  padding: 20px 30px;
  border-bottom: 1px solid #eaecf0;
  position: sticky;
  top: 0;
  background: #f9f9f9;
  z-index: 99;
}
.header h4 {
  font-size: 20px;
  font-weight: 600;
  color: #071437;
}

.add-user-profile {
  display: flex;
  gap: 40px;
}

.admin-functions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboard-content {
  margin-top: 30px;
  /* margin-left: 30px; */
}
.search-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.team-search label {
  font-size: 14px;
  /* display: block; */
}
.team-select {
  border-radius: 5px;
  border: solid 1px #dadada;
  margin-left: 5px;
  font-size: 14px;
  background-color: #f5f5f5;
  padding: 7px;
}

input {
  width: 98%;
  padding: 10px;
  border-radius: 6px;
  background: #fcfcfc;
  border: 1px solid #dbdfe9;
  height:40px;
}
input::placeholder {
  color:#78829D;
  font-weight:400;
  font-size:13px;
}
.team-lead-dash-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 30px;
  width: 100%;
  box-sizing: border-box;
}

.team-lead-dash-cards {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 48%;
  padding: 30px;
  border: 1px solid #a4a4a447;
  border-radius: 7px;
  height: 250px;
  /* gap:20px; */
  justify-content: space-between;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.card-menu {
  position: absolute;
  left: -90px;
  top: 12px;
  border-radius: 11px;
  background: white;
  z-index: 99;
  padding: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}
/* dialog menu styling */
.card-link {
  font-family: inter;
  font-weight: 100;
  cursor: pointer;
  border-radius: 8px;
}

.card-link:hover {
  background: #fff6f6 !important;
  color: #f46036 !important;
}
.card-menu li {
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
}
.card-menu li:first-child {
  color: #252f4a;
}
.card-menu li:last-child {
  color: #f46036;
}

.card-link:hover {
  background: #fafafa;
}
.horizontal-dots {
  position: relative;
  cursor: pointer;
}

.dash-cards-top-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.no-of-members-and-pics {
  display: flex;
  align-items: center;
  gap: 20px;
}
.members-images {
  display: flex;
}
.members-images img {
  border-radius: 50%;
  width: 1.7rem;
  margin-left: -10px;
}

.pop{
  background: #3688F4;
  height:30px;
  width:30px;
  border-radius: 100%;
  text-align:center;
  font-size: 12px;
  color:white;
  align-content:center;
  margin-left: -10px;
  border: 2px solid white;
}
.pops{
  background: #17C653;
  height:30px;
  width:30px;
  border-radius: 100%;
  text-align:center;
  color:white;
  align-content:center;
  margin-left: -10px;
  border: 2px solid white;
}

.dash-cards-down-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.view-details {
  font-size: 12.21px;
  color: #1b998b;
  cursor: pointer;
}
.view-details:hover {
  text-decoration: underline;
}
.team-lead-info-and-view-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.team-lead-info {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.team-lead-name {
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}
.team-lead-email {
  font-size: 11px;
  color: #47445d;
  font-weight: 100;
}
/* .view-details{
    color: #2C2368;
    font-size: 12.21px;
    text-decoration: underline;
  } */
.user-image {
  border-radius: 50%;
  width: 2rem;
}

.team-members-and-progress-bar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Team-members {
  display: flex;
  justify-content: space-between;
}
.team-members-text {
  font-size: 15px;
  font-weight: 700;
}
.team-members-count {
  font-size: 15px;
  color: #2b2b2b;
  font-weight: 800;
}
.progress-outline {
  width: 100%;
  /* background: #e0dbff; */
  height: 18px;
  border-radius: 4px;
  text-align: right;
  position: relative;
}

.red-outline{
  background:#fce4e2
}
.progress-red{
  background:#E20408;
 
}
.text-red{
  color:#E20408;
}
.yellow-outline{
  background:#FFFBEA;
}
.progress-yellow{
  background:#F6B100;
}
.text-yellow{
  color:#F6B100;
}
.green-outline{
  background:#D8FFFB;
}
.progress-green{
  background:#1B998B;
}
.text-green{
  color:#1B998B;
}
.text-white{
  color: white;
}
.progress {
  /* width: 1%; */
  /* background: #2c2368; */
  height: 18px;
  border-radius: 4px;
  max-width: 100%;
  margin-top:4px;
}
.progress-percentage {
  right: 14px;
  position: absolute;
  font-size: 10px;
  top: 4px;
}
.target-and-clients-onboarded{
  display: flex;
  flex-direction:column;
  gap: 10px;
}
.progress-bar p {
  font-size: 13px;
  font-family: "instrument sans";
  font-weight: 100;
  margin-bottom: 3px;
  color: #2f2e2d;
}
.container2 {
  margin-bottom: 40px;
}

@media (max-width: 820px) {
  .team-lead-dash-cards {
    padding: 15px;
    width: 48%;
  }
  .team-lead-dash-cards-container {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .team-lead-dash-cards {
    width: 98%;
  }
  .team-lead-dash-cards-container {
    flex-direction: column;
  }
  .header-buttons-container p {
    display: none;
  }
  main {
    padding: 10px;
  }
}


/* Add team modal  */
::ng-deep .cdk-overlay-pane.mat-mdc-dialog-panel{
  width:500px
}
.edit-team-modal {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  color: #1e1e1e;
  font-size: 24px;
  font-weight: 400;
}
form {
  display: flex;
  gap: 16px;
  flex-direction: column;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-group label {
  color: #1e1e1e;
  font-size: 16px;
  font-weight: 100;
}
input,
select {
  padding: 12px 16px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  font-size: 16px;
  font-family: inter;
  color: #1e1e1e;
  font-weight: 300;
}
.error-message{
  color:red
}

.cancel-save-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.cancel-save-buttons button {
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}
.cancel-button {
  font-weight: 500;
}
.save-button {
  background: #f46036;
  color: white;
}

/* succesful save changes  */

.succesfully-updated {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  padding: 20px;
}
.succesfully-updated p {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
.succesfully-updated button {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
}
.assign-button {
  background: rgba(244, 96, 54, 0.2);
  color: #f46036;
  border: 1px solid #f46036;
}
.back-button {
  background: #ededed;
  border: none;
}

button[class="back-button"]:hover {
  background-color: transparent;
  color: #f46036;
  border: 1px solid #f46036;
  border-radius: 5px;
  cursor: pointer;
}