<div class="dashboard-container">
  
  <app-sidebar/>
  <main>
    <aside class="header">
      <h4>Overview</h4>
      <div class="add-user-profile">
        <button class="add-user-btn" type="button" id="btn btn-primary">
          <span class="add-user-text">Add User</span>
          <img
            src="dashboard-images/lets-icons_user-add-alt-fill.png"
            alt="add-user-icon"
          />
        </button>
        <div class="profile-image-container">
          <img
            src="dashboard-images/Headshot 2.jpg"
            alt="profile-image"
            class="profile-image"
          />
        </div>
      </div>
    </aside>
    <div class="dashboard-content">
      <div class="searc">
        <input
          type="search"
          name="searchTeamLeads"
          id=""
          placeholder="Search by Name , Staff ID or Email..."
        />
        <i
          class="fa-thin fa-magnifying-glass fa-rotate-by search-icon"
        ></i>
      </div>

      <div class="team-lead-dash-cards-container">
        <div class="team-lead-dash-cards">
          <div class="team-lead-info-and-view-details">
            <div class="team-lead-info">
              <div class="team-lead-info-image">
                <img class="user-image" src="user-1.jpg" alt="user" />
              </div>
              <div class="team-lead-info-name-and-">
                <p class="team-lead-name">Team Lead Name</p>
                <span class="team-lead-email">name&#64;domain.com</span>
              </div>
            </div>
            <div class="view-details">View Details</div>
          </div>

          <div class="team-members-and-progress-bar">
            <div class="Team-members">
              <p class="team-members-text">Team Members</p>
              <p class="team-members-count">18</p>
            </div>

            <div class="progress-bar">
              <p>Total Recommendations Submitted: <span>50/80</span></p>
              <div class="progress-outline">
                <div class="progress"></div>
                <span class="progress-percentage">60% </span>
              </div>
            </div>
          </div>
        </div>

        <div class="team-lead-dash-cards">
          <div class="team-lead-info-and-view-details">
            <div class="team-lead-info">
              <div class="team-lead-info-image">
                <img class="user-image" src="user-1.jpg" alt="user" />
              </div>
              <div class="team-lead-info-name-and-">
                <p class="team-lead-name">Team Lead Name</p>
                <span class="team-lead-email">name&#64;domain.com</span>
              </div>
            </div>
            <div class="view-details">View Details</div>
          </div>

          <div class="team-members-and-progress-bar">
            <div class="Team-members">
              <p class="team-members-text">Team Members</p>
              <p class="team-members-count">18</p>
            </div>

            <div class="progress-bar">
              <p>Total Recommendations Submitted: <span>50/80</span></p>
              <div class="progress-outline">
                <div class="progress"></div>
                <span class="progress-percentage">60% </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="team-lead-dash-cards-container container2">
        <div class="team-lead-dash-cards">
          <div class="team-lead-info-and-view-details">
            <div class="team-lead-info">
              <div class="team-lead-info-image">
                <img class="user-image" src="user-1.jpg" alt="user" />
              </div>
              <div class="team-lead-info-name-and-">
                <p class="team-lead-name">Team Lead Name</p>
                <span class="team-lead-email">name&#64;domain.com</span>
              </div>
            </div>
            <div class="view-details">View Details</div>
          </div>

          <div class="team-members-and-progress-bar">
            <div class="Team-members">
              <p class="team-members-text">Team Members</p>
              <p class="team-members-count">18</p>
            </div>

            <div class="progress-bar">
              <p>Total Recommendations Submitted: <span>50/80</span></p>
              <div class="progress-outline">
                <div class="progress"></div>
                <span class="progress-percentage">60% </span>
              </div>
            </div>
          </div>
        </div>

        <div class="team-lead-dash-cards">
          <div class="team-lead-info-and-view-details">
            <div class="team-lead-info">
              <div class="team-lead-info-image">
                <img class="user-image" src="user-1.jpg" alt="user" />
              </div>
              <div class="team-lead-info-name-and-">
                <p class="team-lead-name">Team Lead Name</p>
                <span class="team-lead-email">name&#64;domain.com</span>
              </div>
            </div>
            <div class="view-details">View Details</div>
          </div>

          <div class="team-members-and-progress-bar">
            <div class="Team-members">
              <p class="team-members-text">Team Members</p>
              <p class="team-members-count">18</p>
            </div>

            <div class="progress-bar">
              <p>Total Recommendations Submitted: <span>50/80</span></p>
              <div class="progress-outline">
                <div class="progress"></div>
                <span class="progress-percentage">60% </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

</div>
