@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Wix+Madefor+Display:wght@400..800&display=swap');



/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
}



html, body { height: 100%; }
body { margin: 0; 
        font-family: "Instrument Sans", sans-serif; 
}
.mat-mdc-dialog-surface{
  background: white !important;
}

/* .cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.5);
} */

/* Angular Material select Modal styling */
.mat-mdc-text-field-wrapper {
  background: #F1F1F4 !important;
  height: 50px !important;
  border-radius: 4px !important;
}
.mdc-text-field {
position: revert !important;
}
mat-label{
  color: #4B5675;
    font-size: 13px;
}
.mat-mdc-select-arrow{
  color: #4B5675 !important;
}
/* .mat-mdc-form-field-infix{
  top: -13px;
} */
div.mat-mdc-select-panel{
  background: #F1F1F4 !important;
}
.mat-pseudo-checkbox-full{
border-color: #4B5675 !important;
}
.mat-pseudo-checkbox-full.mat-pseudo-checkbox-checked{
  background-color: #F46036 !important;
  border: none;
}
.mdc-list-item__primary-text{
  color: #4B5675;
}
.mat-pseudo-checkbox-full.mat-pseudo-checkbox-checked::after{
  color:white !important;
}
.mat-mdc-select-min-line{
  color:#4B5675;
}

/* Angular Material menu trigger*/

.mat-mdc-menu-trigger{
  background:unset ;
  border:unset ;
}
.mat-mdc-menu-panel {
  background:white !important;
  border:1px solid #F1F1F4 !important;
  width:150px;
  border-radius:8px !important;
  
}
.mat-mdc-menu-content{
  padding:10px !important;
}
.mat-mdc-menu-item-text{
  color:black;
}
.mat-mdc-menu-item-text:hover{
  color:#F46036;
}




/* modal responsiveness */
@media(max-width:1000px){
  .cdk-overlay-pane{
    width: unset !important;
  }
}