* {
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.main-container {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container {
  display: flex;
  flex-direction: row;
  gap: 80px;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 1px;
  gap: 20px;
}
.form-container {
  padding: 10px 44px;
  border: 1px solid #f1f1f4;
  border-radius: 13.3px;
}
.login-form {
  align-content: center;
  text-align: left;
}

.welcomeMessage {
  text-align: center;
  font-size: 19.95px;
  font-weight: 500;
}

.loginInstruction {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #4b5675;
}
label {
  display: block;
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
}
input {
  display: block;
  padding: 8px;
  border: solid 1px #78829d;
  border-radius: 5px;
  width: 321.35px;
  height: 38px;
}
input::placeholder {
  color: #78829d;
  font-size: 14px;
}
button {
  width: 321.35px;
  height: 38px;
  /* padding: 10px; */
  background-color: #f46036;
  border: none;
  border-radius: 5px;
  color: white;
}
.password-top {
  display: flex;
  justify-content: space-between;
}
.forgot-password {
  font-size: 13px;
  color: #1b84ff;
}

.field-icon {
  float: right;
  position: relative;
  z-index: 2;
  margin-left: -50px;
  margin-top: -24px;
  padding-right: 10px;
}

.login-button {
  margin-bottom: 30px;
}

.error-message {
  color: red;
  font-size: 15px;
  margin-top: 5px;
}
.error-message small {
  display: block;
}

.invalid-input {
  border-color: red;
}
